name: CI - Push to Main

on:
  push:
    branches: [ main ]

permissions:
  deployments: write
  contents: read
  packages: write

jobs:
  merge-bot:
    if: github.repository_owner == 'withstudiocms' && github.event_name == 'push' && !contains(github.event.head_commit.message, '[ci] lint')
    uses: withstudiocms/automations/.github/workflows/mergebot.yml@c2dfd186eab9d163cbd535984b82cda1ff8e4689 # main
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_MERGEBOT }}