name: CI - Push to Main

on:
  push:
    branches: [ main ]

permissions:
  deployments: write
  contents: read
  packages: write

jobs:
  merge-bot:
    if: github.repository_owner == 'withstudiocms' && github.event_name == 'push' && !contains(github.event.head_commit.message, '[ci] lint')
    uses: withstudiocms/automations/.github/workflows/mergebot.yml@fe2d43b13c8a63e34ba8b0b9e16008149d8af55f # main
    secrets:
      DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_MERGEBOT }}